// 文字颜色
$color: #333;
$colorGray: #999;
$colorPlaceholder: #ccc;
$colorWarn: #ffae00;
$colorError: #F77F5D;
$colorRemark: #5A8CDD;
$colorWhite: #fff;

// 边框颜色
$colorBorder: #dcdcdc;

// 背景色
$colorBg: #f0f3fa;
$colorBgWhite: #fff;
$colorBgAlpha: rgba(0,0,0,.1);
$colorBgAlphaBlack: rgba(0,0,0,.7);