#文件夹
example/
node_modules/
public/
src/
#editor directories and files
.idea
.git
.eslintignore
.browserslistrc
.editorconfig
.eslintrc.js
.gitignore
babel.config.js
package-lock.json
vue.config.js
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
#local files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.*.local
