
// 去除默认样式
html{
  overflow: hidden;
  body,input,p,button,ul,li{
    padding: 0;
    margin: 0;
  }
  ul{
    list-style: none;
  }
  button,input{
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
    background: transparent;
  }
  input{
    border-radius: 0;
    min-width: 0;
    box-sizing: content-box;
    line-height: 1.4em;
    text-align: inherit;
  }
}
@import './font/font.scss';
// 布局设置
@import './components/layout.scss';
// Form 组件
@import './components/form.scss';
// 弹出层
@import './components/pop.scss';
// 数据展示组件
html{
  // 树
  .wd_tree,.wd_list,li{
    width: 100%;
  }
  .wd_tree>div{
    width: 100%;
    justify-content: space-around;
    .wd_button{
      width: 45%;
      height: 35px;
      font-size: 15px;
    }
  }
  // 树子项
  .wd_list_item{
    width: 100%;
    overflow: visible;
    position: relative;
    height: 45px;
    .wd_icon{
      height: 100%;
      line-height: 100%;
      font-size: 25px;
      text-align: center;
      &[right]{
        width: 45px;
      }
    }
  }
  .wd_selected{
    background: #177fcb;
  }
  // 树分层
  .wd_list_1 {
    .wd_list_item{
      padding-left: 1em;
    }
  }
  .wd_list_2 {
    .wd_list_item{
      padding-left: 2em;
    }
  }
  // 轮播插件
  .wd_swipe{
    position: relative;
    overflow: hidden;
    .wd_swipe_item{
      width: 100%;
      height: 100%;
      transition: transform 0.3s linear;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      z-index: 1;
      &.wd_next{
        transform: translateX(100%);
        z-index: 0;
      }
      &.wd_selected{
        transform: none;
        z-index: 2;
      }
    }
    .wd_swipe_signal{
      position: absolute;
      z-index: 9;
      bottom: 10px;
      margin: 0 auto;
      height: 20px;
      width: 100%;
      justify-content: center;
      >span{
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background: #000;
        opacity: 0.2;
        margin: 0 3px;
        &.wd_selected{
          background: #fff;
        }
      }
    }
  }
}
