// 去除默认样式
html,body{
  width: 100%;
  height: 100%;
}
html{
  overflow: hidden;
  body,input,p,button,ul,li{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei";
  }
  ul{
    list-style: none;
  }
  button,input,textarea{
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
    background: transparent;
  }
  input{
    border-radius: 0;
    min-width: 0;
    box-sizing: content-box;
    line-height: 1.4em;
    text-align: inherit;
  }
}
// 布局设置
@import './components/layout.scss';
// 自定义默认样式
[before]::before,[after]::after{
  position: absolute;
  content: '';
  left: 0;
}
[before]::before{
  top: 0;
}
[after]::after{
  bottom: 0;
}
[scroll]{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.wd_circle{
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  &.wd_right.wd_icon{
    border: 1px solid #dcdcdc;
    color: #dcdcdc;
  }
}
.wd_text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wd_gray{
  color: #999;
}
@import './font/font.scss';
// Form 组件
@import './components/form.scss';
// 弹出层
@import './components/pop.scss';
// 数据展示组件
@import './components/data.scss';
// 修改全局默认样式
.wd_button{
  height: 30px;
  border-radius: 20px;
  &[big]{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    font-size: 17px;
  }
}
.item8{
  background: #fff;
  margin: 0 8px 8px;
  padding: 8px;
  border-radius: 5px;
}
.gray{
  background: #f1f0f6;
}
.wd_address{
  min-height: 40px;
  border-bottom: 1px solid #dcdcdc;
  padding-left: 8px;
}
.wd_icon.wd_address{
  min-height: unset;
  border: none;
  padding: 0;
}