
/* 自定义图标样式 */
@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff2') format('woff2'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}
.wd-icon{
  font-family: "iconfont";
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  box-sizing: content-box;
  min-width: 1em;
  min-height: 1em;
  &[right]{
    transform: rotate(90deg);
  }
  &[top]{
    transform: rotate(180deg);
  }
  &[left]{
    transform: rotate(270deg);
  }
  &.wd-icon-right{
    font-size: 1.2em;
  }
  &.wd-icon-address::before {
    content: "\e601";
  }
  &.wd-icon-close::before {
    content: "\e602";
  }
  &.wd-icon-arrow::before{
    content: "\e603";
  }
  &.wd-icon-del::before{
    content: "\e604";
  }
  &.wd-icon-crumb::before{
    content: "\e605";
  }
  &.wd-icon-email::before{
    content: "\e606";
  }
  &.wd-icon-form::before{
    content: "\e607";
  }
  &.wd-icon-eye::before{
    content: "\e608";
  }
  &.wd-icon-reduce::before{
    content: "\e609";
  }
  &.wd-icon-star::before{
    content: "\e60a";
  }
  &.wd-icon-tell::before{
    content: "\e60b";
  }
  &.wd-icon-offline::before{
    content: "\e60c";
  }
  &.wd-icon-myCart::before{
    content: "\e60d";
  }
  &.wd-icon-user::before{
    content: "\e60e";
  }
  &.wd-icon-search::before{
    content: "\e60f";
  }
  &.wd-icon-yzm::before{
    content: "\e610";
  }
  &.wd-icon-wx::before{
    content: "\e611";
  }
  &.wd-icon-right::before{
    content: "\e612";
  }
  &.wd-icon-warr::before{
    content: "\e613";
  }
  &.wd-icon-password::before{
    content: "\e614";
  }
  &.wd-icon-pwd::before{
    content: "\e615";
  }
  &.wd-icon-add::before{
    content: "\e616";
  }
  &.wd-icon-scan::before{
    content: "\e617";
  }
  &.wd-icon-switch::before{
    content: "\e618";
  }
}