.wd_list{
  width: 100%;
  text-align: left;
  .wd_list_item{
    width: 100%;
    padding: 0 1em;
    border-bottom: 1px solid #dcdcdc;
    &.wd_selected{
      color: #679df6;
      .wd_right.wd_icon{
        background: #679df6;
        color: #fff;
      }
    }
  }
}