// 列表
.wd_list{
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  [after]::after{
    height: 1px;
    width: 100vw;
    right: 0;
    background: #dcdcdc;
  }
  .wd_list_item{
    width: 100%;
    padding: 0.5em;
    min-height: 3em;
    box-sizing: border-box;
  }
  .wd_list{
    padding-left: 0.5em;
  }
}
// 树形插件
.wd_tree{
  overflow-x: hidden;
  &.wd_tree_list{
    .wd_list [after]::after{
      bottom: unset;
      top: 0;
    }
    [after]{
      overflow: visible;
    }
    [parent]>[disabled]{
      color: inherit;
    }
    .wd_icon{
      transform: rotate(270deg);
    }
    [child] .wd_icon{
      display: none;
    }
    [unfold]{
      .wd_icon{
        transform: rotate(90deg);
      }
    }
  }
}
// 轮播插件
.wd_swipe{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  .wd_swipe_item{
    width: 100%;
    height: 100%;
    transition: transform 0.3s linear;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    &[next]{
      transform: translateX(100%);
      z-index: 0;
    }
    &[selected]{
      transform: none;
      z-index: 2;
    }
  }
  .wd_swipe_signal{
    position: absolute;
    z-index: 9;
    bottom: 10px;
    margin: 0 auto;
    height: 20px;
    width: 100%;
    justify-content: center;
    >span{
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 100%;
      background: #000;
      opacity: 0.2;
      margin: 0 3px;
      &[selected]{
        background: #fff;
      }
    }
  }
}