form{
  width: 100%;
}
// form表单公用样式
.wd_input,.wd_select{
  height: 3em;
  width: 100%;
  padding: 0 0.5em;
  &.wd_error{
    outline: 1px solid red;
    font-size: red;
  }
  label{
    font-size: 1.2em;
  }
  .wd_list [selected] .wd_right{
    background: #6b8eff;
    border-color: #6b8eff;
    color: #fff;
  }
}
// input
.wd_pwd{
  .wd_password{
    color: #679df6;
  }
  .wd_eye{
    color: #ccc;
  }
}
.wd_search{
  .wd_icon{
    color: #ccc;
    font-size: 2em;
  }
}
// address
.wd_address{
  text-align: right;
  .wd_pop{
    justify-content: flex-end;
  }
  .wd_nav{
    width: 100%;
  }
  .wd_list{
    height: 45vh;
  }
}
// select
.wd_select{
  .wd_pop{
    .wd_input{
      border: 1px solid #ccc;
      width: calc(100% - 1em);
      margin: 0.5em 0;
    }
  }
  &.wd_select_auto{
    justify-content: space-around;
  }
}
.wd_select_m{
  .wd_val{
    padding-top: 3px;
    flex-wrap: wrap;
    .wd_item3{
      margin-right: 0;
      border: 1px solid #dcdcdc;
    }
    &.wd_gray{
      padding-bottom: 3px;
    }
  }
}
// button
.wd_button{
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 0.1em 0.5em;
  min-height: 2em;
  &[default]{
    background: linear-gradient(to right,#61e18c, #01b678);
    color: #fff;
  }
  &[warn]{
    background: transparent;
    border: 1px solid #f78869;
    color: #f78869;
  }
  &[blank]{
    border-color: #eee;
    background: transparent;
    color: #2ba245;
  }
  &[disabled]{
    border-color: #ccc;
    background: #ccc;
    color: #fff;
  }
}
// progress
.wd_progress{
  width: 100%;
  .wd_bar{
    width: 100%;
    height: 1em;
    border-radius: 0.5em;
    background: #ccc;
    margin: 0.8em 0;
    .wd_fill{
      background: #177fcb;
      width: 0%;
      height: 100%;
      border-radius: 0.5em;
      transition: width 0.2s linear 0;
    }
  }
}
// switch
.wd_switch{
  color: #ccc;
  height: 3em;
  line-height: 3em;
  transition: all 0.20s;
  >.wd-switch{
    height: 1.2em;
    width: 2.2em;
    display: inline-block;
    border-radius: 0.6em;
    background-color: #ccc;
    margin-right: 0.3em;
    margin-top: 0.1em;
    position: relative;
    transition: all 0.20s;
    .wd_remove{
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1.2em;
      height: 1.2em;
      border-radius: 0.6em;
      background-color: #fdfdfd;
      box-shadow: 0 1px 3px rgba(0,0,0,.4);
      left: 0;
      transition: all 0.20s;
    }
  }
  &[selected]{
    color: #6b8eff;
    .wd-switch{
      background: #6b8eff;
      .wd_remove{
        left: 1em;
      }
    }
  }
}