.wd_pop{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1);
}
.wd_msg{
  justify-content: center;
  >div{
    max-width: 80%;
    border-radius: 5px;
    text-align: center;
    transition: opacity .3s linear;
    font-size: 14px;
    .wd_title{
      width: 100%;
      height: 35px;
      line-height: 20px;
      box-sizing: border-box;
      font-weight: bolder;
      text-align: center;
      font-size: 16px;
      border: none;
      padding-top: 15px;
    }
    .wd_content {
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      background-color: transparent;
    }
    .wd_bottom{
      width:100%;
      border-top: 1px solid #ddd;
      font-weight: 400;
      .wd_button{
        flex: 1;
        height: 40px;
        border-radius: unset;
        background: transparent;
        color: #888888;
        &:last-child{
          border-left: 1px solid #ddd;
        }
        &:first-child{
          color: #679df6;
        }
      }
    }
  }
  .wd_modal{
    width:80%;
    background: #fff;
    align-items: flex-start;
    text-align: left;
    .wd_content{
      text-indent: 2em;
    }
  }
  .wd_toast{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}
.wd_mask{
  .loading{
    width: 80px;
    height: 40px;
  }
  .loading span{
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    animation: load 1s ease infinite;
  }
  @keyframes load{
    0%,100%{
      height: 40px;
      background: lightgreen;
    }
    50%{
      height: 70px;
      margin: -15px 0;
      background: lightblue;
    }
  }
  .loading span:nth-child(2){
    animation-delay:0.2s;
  }
  .loading span:nth-child(3){
    animation-delay:0.4s;
  }
  .loading span:nth-child(4){
    animation-delay:0.6s;
  }
  .loading span:nth-child(5){
    animation-delay:0.8s;
  }
}