html{
  font-size: 14px;
}
#app{
  width: 100%;
  height: 100%;
}
.fg{
  border-bottom: 1px solid #dcdcdc;
}
.fg,p,ul,code{
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
}
.sj{
  text-indent: 2em;
}
pre{
  background: #f1f0f6;
  margin: 0;
  width: 100%;
  overflow: auto;
  max-height: 40vh;
}