$color: #333;
$colorGray: #999;
$colorPlaceholder: #ccc;
$colorWarn: #ffae00;
$colorError: #F77F5D;
$colorRemark: #5A8CDD;
$colorWhite: #fff;
$colorBorder: #dcdcdc;
$colorAlpha: rgba(0,0,0,.1);
$colorAlphaBlack: rgba(0,0,0,.7);
$colorBg: #f0f3fa;
