.wd-scroll{
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;
}
.wd-border-ciclre{
  border: 1px solid $colorBorder;
  border-radius: $jg;
}
.wd-panel{
  max-width: 100%;
  max-height: 100%;
}
.wd-btns.wd-row{
  justify-content: space-between;
  button,.wd-btn{
    flex: 1 0 0;
  }
}