
/* 自定义图标样式 */
@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff2') format('woff2'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}
.wd_icon{
  font-family: "iconfont";
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  box-sizing: content-box;
  font-size: 1.5em;
  min-width: 1em;
  min-height: 1em;
  &[right]{
    transform: rotate(90deg);
  }
  &[top]{
    transform: rotate(180deg);
  }
  &[left]{
    transform: rotate(270deg);
  }
  &.wd_icon_right{
    font-size: 1.2em;
  }
  &.wd_icon_address::before {
    content: "\e601";
  }
  &.wd_icon_close::before {
    content: "\e602";
  }
  &.wd_icon_arrow::before{
    content: "\e603";
  }
  &.wd_icon_del::before{
    content: "\e604";
  }
  &.wd_icon_crumb::before{
    content: "\e605";
  }
  &.wd_icon_email::before{
    content: "\e606";
  }
  &.wd_icon_form::before{
    content: "\e607";
  }
  &.wd_icon_eye::before{
    content: "\e608";
  }
  &.wd_icon_reduce::before{
    content: "\e609";
  }
  &.wd_icon_star::before{
    content: "\e60a";
  }
  &.wd_icon_tell::before{
    content: "\e60b";
  }
  &.wd_icon_offline::before{
    content: "\e60c";
  }
  &.wd_icon_myCart::before{
    content: "\e60d";
  }
  &.wd_icon_user::before{
    content: "\e60e";
  }
  &.wd_icon_search::before{
    content: "\e60f";
  }
  &.wd_icon_yzm::before{
    content: "\e610";
  }
  &.wd_icon_wx::before{
    content: "\e611";
  }
  &.wd_icon_right::before{
    content: "\e612";
  }
  &.wd_icon_warr::before{
    content: "\e613";
  }
  &.wd_icon_password::before{
    content: "\e614";
  }
  &.wd_icon_pwd::before{
    content: "\e615";
  }
  &.wd_icon_add::before{
    content: "\e616";
  }
  &.wd_icon_scan::before{
    content: "\e617";
  }
}