
/* 自定义图标样式 */
@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff2') format('woff2'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}
.wd_icon{
  font-family: "iconfont";
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  box-sizing: content-box;
  font-size: 1.5em;
  min-width: 1em;
  min-height: 1em;
  &[right]{
    transform: rotate(90deg);
  }
  &[top]{
    transform: rotate(180deg);
  }
  &[left]{
    transform: rotate(270deg);
  }
  &.wd_right{
    font-size: 1.2em;
  }
  &.wd_close::before {
    content: "\e601";
  }
  &.wd_arrow::before {
    content: "\e602";
  }
  &.wd_password::before{
    content: "\e603";
  }
  &.wd_eye::before{
    content: "\e604";
  }
  &.wd_wx::before{
    content: "\e605";
  }
  &.wd_user::before{
    content: "\e606";
  }
  &.wd_pwd::before{
    content: "\e607";
  }
  &.wd_yzm::before{
    content: "\e608";
  }
  &.wd_address::before{
    content: "\e609";
  }
  &.wd_crumb::before{
    content: "\e60a";
  }
  &.wd_right::before{
    content: "\e60b";
  }
  &.wd_search::before{
    content: "\e60c";
  }
  &.wd_myCart::before{
    content: "\e60d";
  }
  &.wd_warr::before{
    content: "\e60f";
  }
  &.wd_del::before{
    content: "\e610";
  }
  &.wd_star::before{
    content: "\e611";
  }
  &.wd_tel::before{
    content: "\e612";
  }
  &.wd_reduce::before{
    content: "\e613";
  }
  &.wd_form::before{
    content: "\e614";
  }
  &.wd_email::before{
    content: "\e615";
  }
  &.wd_offline::before{
    content: "\e616";
  }
}